.t-shirt {
  height: 400px;
  border: 1px solid lightgray;
  border-radius: 12px;
  text-align: center;
}
.t-shirt img {
  height: 250px;
  border: 1px solid salmon;
  border-radius: 12px;
  display: block; /* img center krte hoile, display:block & mx:auto is a MUST */
  margin: 0 auto;
}