.header {
  background-color: #222;
  padding: 20px;
  text-align: right;
  /* width: 100%;
  position: fixed; */
}
nav a {
  color: #eee;
  text-decoration: none;
  margin-right: 3%;
}
nav a:hover {
  color: cyan;
}
nav a:active {
  color: yellow;
}
